{% load static i18n %}

<script>
    let uploadURL = '{% url "djvue:file_upload" %}'
</script>
<script src="{% static 'vue/js/vue.js' %}"></script>
<script src="{% static 'vue/js/vee-validate.full.js' %}"></script>
<script src="{% static 'vue/js/axios.js' %}"></script>
<script src="{% static 'vue/js/lodash.js' %}"></script>
<script>

    Vue.component("validation-provider", VeeValidate.ValidationProvider)
    Vue.component("validation-observer", VeeValidate.ValidationObserver)

    VeeValidate.localize({{ vv_locale|safe }})
    VeeValidate.localize('{{ vv_language }}')
    VeeValidate.extend("password", {
      params: ["target"],
      validate(value, {target}) {
        return value === target
      },
      message: '{% trans "Password confirmation does not match" %}',
    })

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

    let file_size_msg = "{% trans 'File size should be less than' %}"
    let file_size_unit = "{% trans 'Mega Byte' %}"
    let duplicate_file_msg = "{% trans 'This file is already uploaded' %}"

</script>
<script src="{% static 'vue/js/script.js' %}"></script>
