{% load rest_framework %}

<validation-provider name="{{ field.name }}"
        {% if style.rules %} rules="{{ style.rules }}" {% endif %}
                     v-slot="{ errors }"
                     tag="div" class="form-group">
    {% if field.label %}
        <label {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }}</label>
    {% endif %}

    {% if style.inline %}
        <div>
            {% for key, text in field.choices|items %}
                <label class="checkbox-inline">
                    <input type="checkbox"
                           name="{{ field.name }}"
                           value="{{ key }}"
                           {% if field.required %}required{% endif %}
                           v-model="form.{{ field.name }}"
                           {% if key|as_string in field.value|as_list_of_strings %}checked{% endif %}
                    >
                    {{ text }}
                </label>
            {% endfor %}
        </div>
    {% else %}
        {% for key, text in field.choices|items %}
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="{{ field.name }}"
                           value="{{ key }}"
                           {% if field.required %}required{% endif %}
                           v-model="form.{{ field.name }}"
                           {% if key|as_string in field.value|as_list_of_strings %}checked{% endif %}
                    >
                    {{ text }}
                </label>
            </div>
        {% endfor %}
    {% endif %}

    <span class="help-block text-danger" v-for="error in errors" :key="error">{( error )}</span>

    {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
    {% endif %}

</validation-provider>
